<!DOCTYPE html>
<html>

<head>
  <title>Student-Manager-App</title>
  <link rel="icon" href="/photo/logo.png">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body class="bg-info">

  <div class="main-content">


    <div class="row">

      <div class="col-md-6 offset-md-3" style="background-color: rgb(255, 255, 255);margin-top: 25px;padding:20px;">
        {{>header}}
        <h1>Admin Dashboard</h1>
        <h4><a class="btn btn-secondary" href="/course"><i class="fa fa-bars"></i> Courses offered</a></h4>
        <h3><a class="btn btn-secondary" href="/newUser"><i class="fa fa-plus"></i> Create New</a> User List
        </h3>

        <table class="table table-striped">
          {{!-- <p> {{admin}}</p> --}}
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Roll</th>
              <th>Age</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each user}}

            <tr>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.roll}}</td>
              <td>{{this.age}}</td>
              <td>

                <a href="/user/delete/{{this._id}} " class="btn btn-secondary" class="fa fa-delete"
                  style="color: red;">Delete</a>
                <a href="/user/edit/{{this._id}} " class="btn btn-secondary" class="fa fa-edit"
                  style="color: blue;">Edit</a>
              </td>
            </tr>
            {{/each}}
          </tbody>

        </table>
        <h3><a class="btn btn-secondary" href="/newStudent"><i class="fa fa-plus"></i> Create New</a> Student
          List</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Roll</th>
              <th>Age</th>
              <th>Subject</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each student}}

            <tr>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.roll}}</td>
              <td>{{this.age}}</td>
              <td>{{this.subject}}</td>
              <td>

                <a href="/student/delete/{{this._id}} " class="btn btn-secondary" class="fa fa-delete"
                  style="color: red;">Delete</a>
                <a href="/student/edit/{{this._id}} " class="btn btn-secondary" class="fa fa-edit"
                  style="color: blue;">Edit</a>
              </td>
            </tr>
            {{/each}}
          </tbody>

        </table>
        <h3><a class="btn btn-secondary" href="/newTeacher"><i class="fa fa-plus"></i> Create New</a> Teacher
          List</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Roll</th>
              <th>Age</th>
              <th>subjet</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each teacher}}

            <tr>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.roll}}</td>
              <td>{{this.age}}</td>
              <td>{{this.subjects_taught}}</td>
              <td>

                <a href="/teacher/delete/{{this._id}} " class="btn btn-secondary" class="fa fa-delete"
                  style="color: red;">Delete</a>
                <a href="/teacher/edit/{{this._id}} " class="btn btn-secondary" class="fa fa-edit"
                  style="color: blue;">Edit</a>
              </td>
            </tr>
            {{/each}}
          </tbody>

        </table>
        <a class="btn btn-secondary" href="/" style="color: rgb(0, 0, 0);">Logout</a>


      </div>
    </div>
    {{>footer}}
    <!-- <p>Created by {{name}}</p> -->
  </div>
</body>

</html>