<h1>Manager Dashboard</h1>
<h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Create New</a> Employee List</h3>
<a class="btn btn-secondary" href="/employee/viewReportees/{{managerId}}"> View Reportees</a>
<table class="table table-striped">
    <p hidden id="managerId">MANAGER ID {{managerId}}</p>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th>Role</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
    
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>{{this.jobRole}}</td>
            <td>{{this.salary}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/addReportee/{{../managerId}}&{{this._id}} "  style="color: black;">ADD REPORTEE</a>
                <p hidden id="empId">{{this._id}}</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a class="btn btn-secondary" href="/employee/logout" style="color: rgb(0, 0, 0);">Logout</a>